/* LISTAR CLIENTES */

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container-listar {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

table th {
    background: #007bff;
    color: white;
}

.voltar {
    display: block;
    margin-top: 25px;
    text-align: center;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.voltar:hover {
    text-decoration: underline;
}
