/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo geral */
body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card central */
.container {
    background: #ffffff;
    padding: 35px 40px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    text-align: center;
    width: 380px;
}

/* Título */
.container h2 {
    margin-bottom: 25px;
    color: #6b63ff;
    font-size: 24px;
}

/* Botões */
.btn {
    display: block;
    background-color: #6b63ff;
    color: white;
    padding: 12px;
    margin: 12px 0;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
    font-weight: bold;
}

.btn:hover {
    background-color: #163c5e;
}

/* Botão Voltar */
.voltar {
    background-color: red;
}

.voltar:hover {
    background-color: #565e64;
}
