body {
    background: #f3f3f7;
    font-family: Arial, sans-serif;
}

.conteiner {
    width: 480px;
    background: white;
    margin: 60px auto;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.btn {
    margin-top: 18px;
    width: 100%;
    padding: 12px;
    background: #675CFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background: #594fe0;
}

.voltar {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #d00000;
    font-weight: bold;
    text-decoration: none;
}
